
div{
  text-align: center;
}
div{
margin-left: auto;
margin-right: auto;
height: 100px;
line-height: 100px;
white-space: nowrap;




}


body {

color: blue;

}




  .navbar {background: #797979;direction: rtl;text-align: right;padding-right: 30px;}
  ul.menu li { display: inline-block;list-style: none; }
  ul.menu li a { display:inline-block;
