
div{
  text-align: center;
}
div{
margin-left: auto;
margin-right: auto;
height: 100px;
line-height: 100px;
white-space: nowrap;




}


body {

color: blue;

}
body {
     background-color: #ff0000;
}
